<!--[if lt IE 9]>
    <div class="alert alert-danger topframe" role="alert">你的浏览器版本太低，推荐使用
    <a target="_blank" class="alert-link" href="/downloads/CHRZ_Chrome_non_defaultV5(1).exe">Chrome 浏览器。</a></div>
<![endif]-->

<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">

    <div class="navbar-header">
      <a class="navbar-brand" href="/">Conslog</a>
    </div>

      <form class="navbar-form navbar-left" action="/search" method="get">
        
          <input type="text" name="q" class="form-control" placeholder="搜索" style="width:500px">
          
 
          
               
      </form>
  
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="about">关于</a></li>        
      </ul>      
  </div>
</nav> 